services:
  - type: web
    name: ucc-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_VERSION
        value: 22
      - key: JWT_SECRET
        sync: false
      - key: CLIENT_URL
        sync: false
      - key: POSTGRES_URL
        sync: false
      - key: NEO4J_URI
        sync: false
      - key: NEO4J_USER
        sync: false
      - key: NEO4J_PASSWORD
        sync: false
